Source: fence-agents-pve
Section: admin
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, python-suds
Standards-Version: 3.8.4

Package: fence-agents-pve
Architecture: any
Depends: ${perl:Depends}, ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, openipmi, sg3-utils, python-pexpect, python-pycurl,
 libnet-snmp-perl, libnet-telnet-perl, snmp, telnet, openssh-client,
 python-openssl, redhat-cluster-pve, python-suds
Description: fence agents for redhat cluster suite
 This package provides various fence agents.
